In [1]:
import pandas as pd

In [2]:
flights = pd.read_csv("2008.csv")
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [3]:
flights = flights[(flights["Cancelled"] == 1) & (flights["CancellationCode"] == 'B')]
flights.count()

Year                 54904
Month                54904
DayofMonth           54904
DayOfWeek            54904
DepTime                498
CRSDepTime           54904
ArrTime                  0
CRSArrTime           54904
UniqueCarrier        54904
FlightNum            54904
TailNum              20948
ActualElapsedTime        0
CRSElapsedTime       54828
AirTime                  0
ArrDelay                 0
DepDelay               498
Origin               54904
Dest                 54904
Distance             54904
TaxiIn                   0
TaxiOut                220
Cancelled            54904
CancellationCode     54904
Diverted             54904
CarrierDelay             0
WeatherDelay             0
NASDelay                 0
SecurityDelay            0
LateAircraftDelay        0
dtype: int64

In [4]:
flights = flights[['Year', 'Month', 'Origin', 'Dest', 'Cancelled']]
flights.head()

      Year  Month Origin Dest  Cancelled
2730  2008      1    BUR  SMF          1
3675  2008      1    LAS  RNO          1
3709  2008      1    LAS  SFO          1
3831  2008      1    LAX  RNO          1
3836  2008      1    LAX  SFO          1

In [5]:
airports = pd.read_csv('airports.csv')
airports[airports.iata == 'LAX']

,iata,airport,city,state,country,lat,long
2039,LAX,Los Angeles International,Los Angeles,CA,USA,33.942536,-118.408074

In [6]:
flights = pd.merge(flights, airports[['iata', 'lat', 'long']], left_on='Origin', right_on='iata')
flights.rename(columns={'lat': 'origin_lat', 'long': 'origin_long'}, inplace = True)
flights.drop('iata', 1, inplace=True)

In [7]:
flights = pd.merge(flights, airports[['iata', 'lat', 'long']], left_on='Dest', right_on='iata')
flights.rename(columns={'lat': 'dest_lat', 'long': 'dest_long'}, inplace = True)
flights.drop('iata', 1, inplace=True)

In [8]:
flights

,Year,Month,Origin,Dest,Cancelled,origin_lat,origin_long,dest_lat,dest_long
0,2008,1,BUR,SMF,1,34.200619,-118.358497,38.695422,-121.590767
1,2008,1,BUR,SMF,1,34.200619,-118.358497,38.695422,-121.590767
2,2008,2,BUR,SMF,1,34.200619,-118.358497,38.695422,-121.590767
3,2008,8,BUR,SMF,1,34.200619,-118.358497,38.695422,-121.590767
4,2008,9,BUR,SMF,1,34.200619,-118.358497,38.695422,-121.590767
5,2008,11,BUR,SMF,1,34.200619,-118.358497,38.695422,-121.590767
6,2008,12,BUR,SMF,1,34.200619,-118.358497,38.695422,-121.590767
7,2008,12,BUR,SMF,1,34.200619,-118.358497,38.695422,-121.590767
8,2008,2,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
9,2008,2,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
10,2008,2,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
11,2008,6,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
12,2008,12,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
13,2008,12,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
14,2008,12,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
15,2008,12,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
16,2008,12,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
17,2008,12,LAS,SMF,1,36.080361,-115.152333,38.695422,-121.590767
18,2008,1,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
19,2008,1,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
20,2008,1,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
21,2008,1,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
22,2008,3,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
23,2008,3,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
24,2008,10,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
25,2008,11,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
26,2008,12,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
27,2008,12,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
28,2008,12,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
29,2008,12,LAX,SMF,1,33.942536,-118.408074,38.695422,-121.590767
...,...,...,...,...,...,...,...,...,...
54874,2008,8,JNU,GST,1,58.354962,-134.576276,58.424381,-135.707381
54875,2008,1,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54876,2008,2,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54877,2008,8,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54878,2008,8,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54879,2008,8,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54880,2008,12,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54881,2008,12,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54882,2008,12,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54883,2008,12,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54884,2008,12,KTN,WRG,1,55.355569,-131.713740,56.484326,-132.369824
54885,2008,1,PSG,WRG,1,56.801652,-132.945278,56.484326,-132.369824
54886,2008,2,PSG,WRG,1,56.801652,-132.945278,56.484326,-132.369824
54887,2008,8,PSG,WRG,1,56.801652,-132.945278,56.484326,-132.369824
54888,2008,10,PSG,WRG,1,56.801652,-132.945278,56.484326,-132.369824
54889,2008,12,PSG,WRG,1,56.801652,-132.945278,56.484326,-132.369824
54890,2008,12,PSG,WRG,1,56.801652,-132.945278,56.484326,-132.369824
54891,2008,12,PSG,WRG,1,56.801652,-132.945278,56.484326,-132.369824
54892,2008,12,PSG,WRG,1,56.801652,-132.945278,56.484326,-132.369824
54893,2008,2,YAK,CDV,1,59.503361,-139.660226,60.491834,-145.477650
54894,2008,12,YAK,CDV,1,59.503361,-139.660226,60.491834,-145.477650
54895,2008,1,OTZ,OME,1,66.884677,-162.598550,64.512202,-165.445246
54896,2008,1,OTZ,OME,1,66.884677,-162.598550,64.512202,-165.445246
54897,2008,1,OTZ,OME,1,66.884677,-162.598550,64.512202,-165.445246
54898,2008,4,OTZ,OME,1,66.884677,-162.598550,64.512202,-165.445246
54899,2008,5,OTZ,OME,1,66.884677,-162.598550,64.512202,-165.445246
54900,2008,6,OTZ,OME,1,66.884677,-162.598550,64.512202,-165.445246
54901,2008,9,OTZ,OME,1,66.884677,-162.598550,64.512202,-165.445246
54902,2008,12,OTZ,OME,1,66.884677,-162.598550,64.512202,-165.445246
54903,2008,4,HNL,ITO,1,21.318691,-157.922407,19.720263,-155.048470

In [9]:
flights.to_csv('flights.csv')